{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "App": "./App",
          "queries": "./queries",
          "providers": "./providers",
          "components": "./components",
          "screens:": "./screens",
          "styles": "./styles",
          "constants": "./constants",
          "helpers": "./helpers"
        }
      }
    ]
  ]
}
