{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "App": "./App",
          "queries": "./queries",
          "providers": "./providers",
          "components": "./components",
          "screens:": "./screens",
          "styles": "./styles",
          "constants": "./constants"
        }
      }
    ]
  ]
}
